* {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;


}

.cover {
    width: 74px;
    height: 116px;
    float: left;
    object-fit: cover;
}

.book {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #fff;
}

.book:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}