<html lang="en">
<head>
    <title>Biblo - your home libary</title>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <meta charset="UTF-8">
</head>
<body>
    <a href="../">
        <div class="title">
            <h1>Biblo</h1>
        </div>
    </a>

    <div class="container">

        <div class="book">
            <img class="cover" src="{{ book.cover_url }}" alt="{{ book.title }}">
            <h2>{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Published: {{ book.published }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Publisher: {{ book.publisher }}</p>
            {% if book.rating %}
                <p>Rating: {{ book.rating }}</p>
            {% endif %}
        </div>
    {% if reviews %}
        <div class="title">
            <h3>Reviews</h3>
        </div>
        {% for review in reviews %}
            <div class="review_">
                <h3>Review: {{ review.review_id }}</h3>
                <p>{{ review.text }}</p>
                <p>Rating: {{ review.rating }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="add">
        <a href="/book/{{ book.isbn }}/rate">+ Rate this book</a>
    </div>


    
    <div class="delete">
        <a href="/book/{{ book.isbn }}/delete">- Delete this book</a>
    </div>
    </div>
</body>
</html>