<html lang="en">
<head>
    <title>Biblo - your home libary</title>
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
</head>
<body>
    <div class="title">
        <h1>Biblo</h1>
    </div>
        <div class="search">
            <a>Search</a>
            <form method="POST">
                <label>
                    <input name="search">
                    <input type="submit">
                </label>
            </form>

        </div>
    <div class="bottom" id="bottom">
        <a href="#end"><b>&darr; Jump to Bottom</b></a>
    </div>
    <div class="container">
    {% for book in book_list %}
        <a href="book/{{ book.isbn }}">
            <div class="book">
                <img class="cover" src="{{ book.cover_url }}" alt="{{ book.title }}">
                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>Published: {{ book.published }}</p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>Publisher: {{ book.publisher }}</p>
                {% if book.rating %}
                    <p>Rating: {{ book.rating }}</p>
                {% endif %}
            </div>
        </a>
    {% endfor %}
    <a name="end"></a>
    <div class="add">
        <a href="/add">+ Add a book</a>
    </div>
    </div>
</body>
</html>